*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* General selectors */
.transparent{
    background-color: transparent;
}
.pacificoFont{
    font-family: 'Pacifico', cursive;
}
/* Index and other general selectors */
body{
    color: black;
    font-family: 'Source Code Pro', monospace;
}
.indexBody{
    background: rgb(59,193,241);
    background: linear-gradient(90deg, rgb(59,193,241) 13%, rgb(156, 216, 238) 50%, rgb(59,193,241) 87%);
}
header{
    margin-top: 1vw;
    margin-bottom: 2vw;
    position: fixed top;
    font-size: 2.25vw;
    display: flex;
    width: 100%;
}
.logoHolder{
    padding: 0.5vw;
    width: 40%;
}
.headerLinksHolder{
    right: 0;
    text-align: right;
    padding: 0.5vw;
    width: 60%;
}
.headerLink{
    border: 2px solid black;
    border-radius: 5px 5px;
    padding: 5px;
    text-decoration: none;
    color: black;
    margin-block: 2px;
    margin-inline: 4px;
    transition: all 0.4s ease;
}
.headerLinksHolder:hover{
    animation: navLinkAnim 0.2s linear forwards 2;
}
.headerLinksHolder:hover .hlHome{
    background-color: rgb(59,193,241);
} 
.headerLinksHolder:hover .hlAbout{
    background-color: rgb(255,63,0);
} 
.headerLinksHolder:hover .hlGallery{
    background-color: rgb(253, 231, 76);
} 
.headerLinksHolder:hover .hlContact{
    background-color: rgb(49, 203, 0);
} 
@keyframes navLinkAnim{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-3%);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(3%);
    }
    100%{
        transform: translateX(0);
    }
}
.logoHolder:hover .logo{
    animation: logoAnim 0.2s linear forwards;
}
@keyframes logoAnim {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}
section{
    margin-block: 6vw;
}
.container{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.container h1{
    font-size: 3vw;
}
.welcomeContent{
    display: flex;
}
.welcomeContent div{
    width: 50%;
    padding: 6px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 2px;
}
.welcomeContent div p{
    text-align: left;
    font-size: 1.5vw;
    padding: 4px;
}
.welcomeImagesHolder{
    display: flex;
    flex-direction: column;
}
.welcomeImagesHolder img{
    width: 50%;
}
.welcomeImgEven{
    display: flex;
    margin-right: 0;
    margin-left: auto;
}
.welcomeImgOdd{
    display: flex;
    margin-left: 0;
}
/* About me */
.aboutBody{
    background: rgb(255,63,0);
    background: linear-gradient(90deg, rgb(255,63,0) 13%, rgb(255,159, 128) 50%, rgb(255,63,0) 87%);
}
.aboutMeText{
    margin: 1vw;
}
.aboutMeText p {
    background-color: yellow;
    font-size: 1.5vw;
    border-radius: 10px;
    padding: 1vw;
    border: 3px solid rgb(59,193,241);
    margin-block: 1vw;
}
.aboutMeText div{
    display: flex;
}
.aboutMeText div img{
    display: flex;
    
}
.aboutMeText img{
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
}
/* Responsiveness */
@media screen and (max-width: 1000px)  {
    header{
        font-size: 3.5vw;
    }
    .container h1{
        font-size: 4.5vw;
    }
    .welcomeText{
        font-size: 20px;
    }
    .welcomeContent div p{
        font-family: 'Source Code Pro', monospace;
        text-align: left;
        font-size: 2vw;
        padding: 4px;
    }
    .aboutMeText p{
        font-size: 2.5vw;
    }
}
@media screen and (max-width: 600px){
    .welcomeContent{
        display: block;
    }
}